// 颜色定义规范
$color-white = #ffffff
$color-background = #F5F7FB
$color-line = #cccccc
$color-big-background = #f2f2f2

$color-orgin-theme = #ef705d
$color-green-theme = #5ee490

$color-menu-select = #28282e
$color-menu-background = #32323a
$color-menu-line = #3a3a41

$color-text = #333
$color-text-icon = #666
$color-text-little = #999

$color-icon-line = #f1f4f7

$color-nomal = #EF705D
$color-hover = #FC9485
$color-active = #EF705D

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-s = 20px
$font-size-large-x = 22px
$font-money-size = 46px
